diff -up firefox-121.0.1/toolkit/moz.configure.wasi firefox-121.0.1/toolkit/moz.configure
--- firefox-121.0.1/toolkit/moz.configure.wasi	2024-02-01 09:14:33.816548952 +0100
+++ firefox-121.0.1/toolkit/moz.configure	2024-02-01 09:15:53.264684309 +0100
@@ -2663,7 +2663,7 @@ with only_when(requires_wasm_sandboxing
     def wasi_sysroot_flags(wasi_sysroot):
         if wasi_sysroot:
             log.info("Using wasi sysroot in %s", wasi_sysroot)
-            return ["--sysroot=%s" % wasi_sysroot]
+            return ["--sysroot=%s" % wasi_sysroot, "-nodefaultlibs",  "-lc", "-lwasi-emulated-process-clocks", "-lc++", "-lc++abi", "$LIBCLANG_RT"]
         return []
 
     set_config("WASI_SYSROOT", wasi_sysroot)
diff -up firefox-140.7.0/wasi-sdk-20/src/llvm-project/llvm/include/llvm/ADT/SmallVector.h.fix-rhel98 firefox-140.7.0/wasi-sdk-20/src/llvm-project/llvm/include/llvm/ADT/SmallVector.h
--- firefox-140.7.0/wasi-sdk-20/src/llvm-project/llvm/include/llvm/ADT/SmallVector.h.fix-rhel98	2026-01-12 21:44:20.369015903 +0100
+++ firefox-140.7.0/wasi-sdk-20/src/llvm-project/llvm/include/llvm/ADT/SmallVector.h	2026-01-12 21:44:25.598005369 +0100
@@ -29,6 +29,7 @@
 #include <new>
 #include <type_traits>
 #include <utility>
+#include <cstdint>
 
 namespace llvm {
 
